.site-main {
	margin: 1em auto;
  @include font-size(0.8);
	line-height: $font__line-height-body;
	@include margin(1);
	@include bp(medium) {
    	@include font-size(1);
  }
  @include bp(small) {
    	@include margin(1.8);
  }
  @include bp(large) {
    	margin: 1.8em auto;
  }
}